:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --background: #EAF2FD;
}

.formacion {
    background-color: var(--background);
    text-align: center;
    padding-top: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;

}


.formacion__lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    height: 100%;
    
}

.formacion__lista__cursos {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-HhFsMvVntKbZ3V4kpkJ9kj3C-5efM5hIIkxgM91FOgArQrxfoUoXvya8ArimlpKfpEQ&usqp=CAU);
    width: 200px;
    height: 200px;
    margin: 10px 10px;
    position: relative;
    
}