:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --background: #EAF2FD;
}

.hobbies {
    background-color: var(--background);
    text-align: center;
    padding: 10px;
    margin:5px 0px;
    border-radius: 5px;
   
}

.hobbies__contenido-lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
 
}

.hobbies__contenido-items {
    background-color: rgba(0, 5, 15, 0.5);
    position: relative;
    margin: 10px;
    width: 200px;
    height: 200px;
}

.hobbies__contenido-items img{
    width: 100%;
}

