:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --background: #EAF2FD;
}

.hobbies {
    background-color: var(--background);
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.hobbies__contenido-lista {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.hobbies__contenido-items {
    border: solid green;
    margin: 10px;
    width: 200px;
    height: 200px;
}

.hobbies__contenido-items img{
    width: 100%;
}

