:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --background: #EAF2FD;
}



.informacion {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 20px;
    height: 70vh;
   
}

.informacion-fotoPerfil_img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: whitesmoke solid;
}

.informacion-biografia {
    justify-content: center;
    color:#F5F5F5;
}


.informacion-redesSociales_nav {
    margin-top: 30px;
    width: 60%;
    margin-left: 100px;

}

.informacion-redesSociales_ul {
    display: flex;
    list-style: none;
    justify-content: space-around;

}

.informacion-redesSociales_lista {

    font-weight: 500;
    font-family: 'Raleway';
    font-style: normal;

}

.informacion-redesSociales_lista:hover {
    border-bottom: red solid;
    cursor: pointer;
}

@media(max-width:600px) {
    .informacion {
        flex-direction: column;
    }
}