:root {
    /* Inserta la variable de los otros colores inspeccionando el exemplo de figma */
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
    --background: #EAF2FD;
}

.proyectos {
    text-align: center;
    background: var(--background);
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos__informacion {
    display: flex;
    width: 800px;
    height: 206px;
    margin: 10px 20px;
    transition: all 500ms ease-out;

}

.proyectos__informacion:hover{
    box-shadow: 10px 10px 8px 5px #000;
    width: 820px;
    cursor:pointer;
}

.proyectos__imagen {
    position: relative;
    width: 60%;
    display: flex;
    justify-content: center;
   

}

.proyectos__imagen img {
    width: 100%;
    height: 100%;
}

.proyectos__descripcion {

    position: relative;
    width: 40%;
    background:url(https://img.freepik.com/vector-gratis/vector-fondo-acuarela-floral-primavera-verde-ilustracion-hoja_53876-126350.jpg)
}

.btn-edicion {
    width: 100%;
}
@media(max-width:768px){

    .proyectos__informacion{
        width:500px;
    
    }

    .proyectos__informacion:hover{
        width:60px;
    }

@media(max-width:600px){
    .proyectos__informacion{
        width:100%;
    }
}
}